.giftCardBlock{
    width: calc(100% - 10px);
    min-height: 40px;
    margin: 2px 5px 2px 5px;
    display: inline-flex;
    flex-direction: column;
    border: solid #991d326f;
    border-width: 3px 0 3px 0;
    padding: 8px 0 8px 0;
    border-radius: 2px;
    font-size: 32px;
}

.itemName{
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 30px;
}


.giftCardBlockSelected{
    border: solid #991d32;
    border-width: 3px;
    margin-left: 3px;
    border-radius: 4px;
}

.giftedCardBlock{
    opacity: .2;
}
.giftedCardBlock .itemName{
    text-decoration: line-through;
}

