.giftBlock{
    position: relative;
    top: -250px;
    width: 100%;
    display: inline-flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: -400px;
}
.giftButton{
    align-self: center;
    margin-bottom: 10px;
    width: 40%;
    height: 60px;
    font-weight: 600;
    text-align: center;
    border-radius: 8px;
    border: solid #EFEBEA;
    color: #EFEBEA;
    text-decoration: none;
    letter-spacing: 1px;
    background-color: #991D31;
    padding: 6px 0 6px 0;
}

.giftText{
    text-align: center;
}