.invitationSection{
    display: flex;
    z-index: 20;
    justify-content: center;
    width: calc(100vw - (100vw - 100%));
    overflow-x: hidden;
    overflow-y: visible;
}
.invitationBlock{
    display: inline-flex;
    flex-flow: column nowrap;
    width: 100%;
    text-align: center;
    margin-top: 120px;
}

.girlfriendN, .ampersandN, .boyfriendN{
    font-size: 72px;
    font-weight: 500;
}

.girlfriendN{
    text-align: start;
    position: relative;
    top: -50px;
    left: -40px;
}

.boyfriendN{
    text-align: end;
    line-height: 80px;
    position: relative;
    top: -40px;
}

.ampersandN{
    font-weight: 100;
    position: relative;
    top: -50px;
    font-size: 28px;
    line-height: 60px;
}

.girlfriendN b, .boyfriendN b{
    font-weight: 200;
    font-size: 72px;
}

.sideBouqet1{
    position: relative;
    top: 140px;
    width: 30%;
    height: 30%;
}

.sideBouqet2{
    position: relative;
    right: 18%;
    width: 30%;
    height: 30%;
}

.invitationText{
    line-height: 30px;
    margin-top: 45px;
    width: 100%;
    word-spacing: 1px;
    font-size: 28px;
    color: #00000090;
}