.invitationSection{
    display: flex;
    justify-content: center;
    width: calc(100vw - (100vw - 100%));
}
.invitationBlock{
    display: inline-flex;
    flex-flow: column nowrap;
    width: 50vw;
    text-align: center;
}