.containerSchedule{
    background-image: url(../../../public/images/marble.png);
    background-size: cover;
}
.scheduleBlock{
    margin: 0;
    width: calc(100vw - (100vw - 100%));
    min-height: 600px;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 50px;
}

.divisonScheduleBlock{
    display: flex;
    width: 200px;
}
.infoScheduleBlock, .iconsInfoBlock{
    display: flex;
    width: 80px;
}
.iconsInfoBlock{
    flex-flow: column nowrap;
}
.iconsInfoBlock svg{
    display: flex;
    margin-bottom: 30px;
    width: 80px;
    height: 70px;
}
.divisonScheduleBlock{
    color: black;
    margin-top: 40px;
}
.divisonScheduleBlock img{
    width: 200px;
}

.infoScheduleBlock{
    display: inline-flex;
    flex-direction: column;
    margin-top: 20px;
}
.iconsInfoBlock svg{
    color: black;
}

.infoScheduleBlock span{
    font-weight: 800;
}
.infoScheduleBlock p{
    margin-bottom: 42px;
}