.containerSchedule{
    background-image: url(../../../public/images/marble.png);
    background-size: cover;
    margin-top: 40px;
}
.scheduleBlock{
    margin: 40px 0 0 0;
    width: 100%;
    min-height: 600px;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 50px;
}

.divisonScheduleBlock{
    display: flex;
    width: 140px;
    height: auto;
}
.infoScheduleBlock, .iconsInfoBlock{
    display: flex;
    width: 80px;
}
.iconsInfoBlock{
    flex-flow: column nowrap;
    margin-top: 10px;
}
.iconsInfoBlock svg{
    display: flex;
    margin-bottom: 38px;
    width: 60px;
    height: 60px;
    fill: #411019;
    stroke: #411019;
}
.divisonScheduleBlock{
    color: black;
    margin-top: 40px;
}
.divisonScheduleBlock img{
    width: 125px;
}

.infoScheduleBlock{
    display: inline-flex;
    flex-direction: column;
    margin-top: 28px;
    color: #411019;
}
.iconsInfoBlock svg{
    color: black;
}

.infoScheduleBlock p, .infoScheduleBlock span{
    line-height: 8px;
}
.infoScheduleBlock span{
    font-weight: 800;
}
.infoScheduleBlock p{
    margin-bottom: 60px;
    font-size: 20px;
    font-weight: 600;
}